body {
    text-align: justify;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

svg {
    color: var(--vscode-editor-foreground);
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table th {
    border: var(--vscode-editor-background);
}

table td {
    border: 1px solid var(--vscode-editor-foreground);
    padding: 2px 4px;
}

table tr:nth-child(even) {
    background: var(--vscode-editor-lineHighlightBackground);
}

blockquote {
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 15px;
    border-left: 2px solid var(--vscode-editor-lineHighlightBackground);
}

.comment {
    color: #008000;
}

.keyword {
    color: #0000ff;
}

.keyword.operator {
    color: #000000;
}

.string {
    color: #a31515;
}

.constant.numeric {
    color: #098658;
}

.constant.character.escape {
    color: #008000;
}

.variable.parameter {
    color: #ff0000;
}

.support.function {
    color: #0451a5;
}