/*--------------------------/
/                           /
/    SYNTAX HIGHLIGHTING    /
/                           /
/--------------------------*/

@import url("lmps_generic.css");
.comment {
    color: #008000;
}

.keyword {
    color: #0000ff;
}

.keyword.operator {
    color: #000000;
}

.string {
    color: #a31515;
}

.constant.numeric {
    color: #098658;
}

.constant.character.escape {
    color: #008000;
}

.variable.parameter {
    color: #ff0000;
}

.support.function {
    color: #0451a5;
}