body {
    text-align: justify;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

svg {
    color: var(--vscode-editor-foreground);
}

table th {
    border: var(--vscode-editor-background);
}

table td {
    border: 1px solid var(--vscode-editor-foreground);
    padding: 2px 4px;
}

table tr:nth-child(even) {
    background: var(--vscode-editor-lineHighlightBackground);
}

blockquote {
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 15px;
    border-left: 2px solid var(--vscode-editor-lineHighlightBackground);
}

.comment {
    color: #6A9955;
}

.keyword {
    color: #569cd6;
}

.keyword.operator {
    color: #d4d4d4;
}

.string {
    color: #ce9178;
}

.constant.numeric {
    color: #93d172;
}

.constant.character.escape {
    color: #6A9955;
}

.variable.parameter {
    color: #64dbff;
}

.support.function {
    color: #9cfedd;
}