.github
.gitignore
*.xcf
*.svg
*.lmp
*.lmps
*.vsix
*.py
.vscode
out/
src/
tsconfig.json
webpack.config.js
syntaxes/codeblock.json

# Reduce size of mathjax
!node_modules/mathjax-node/LICENSE
!node_modules/mathjax-node/package.json
!node_modules/mathjax-node/lib/**
node_modules/mathjax-node/**

!node_modules/mathjax/latest.js
!node_modules/mathjax/MathJax.js
!node_modules/mathjax/package.json
!node_modules/mathjax/unpacked/MathJax.js
!node_modules/mathjax/unpacked/extensions/MathZoom.js
!node_modules/mathjax/unpacked/extensions/toMathML.js
!node_modules/mathjax/unpacked/extensions/tex2jax.js
!node_modules/mathjax/unpacked/extensions/TeX/AMSmath.js
!node_modules/mathjax/unpacked/extensions/TeX/AMSsymbols.js
!node_modules/mathjax/unpacked/extensions/TeX/autoload-all.js
!node_modules/mathjax/unpacked/extensions/TeX/color.js
!node_modules/mathjax/unpacked/extensions/TeX/noUndefined.js
!node_modules/mathjax/unpacked/jax/element/**
!node_modules/mathjax/unpacked/jax/input/**
!node_modules/mathjax/unpacked/jax/output/SVG/**
!node_modules/mathjax/unpacked/jax/output/CommonHTML/**
node_modules/mathjax/**

!rst/JPG
!rst/img
rst

